h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


:root {
  --black: #292929;
  --accet-green: #00b068;
  --white: #f0f0f0;
  --light-grey: #e4e5e6;
  --hover-grey: #bbb;
  --light-accent: #bcdfd1;
  --hover: #009156;
  --black-dt: #1e2023;
  --accet-green-dt: #14c57c;
  --white-dt: #f0f0f0;
  --charcoal-dt: #2a2d32;
  --hover-charcoal-dt: #3b3f45;
  --dark-accet-dt: #204136;
  --hover-green-dt: #009156;
  --error: #e74a3b;
}

:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "Impact", sans-serif;
  --third-family: "Montserrat", sans-serif;
}

body{
  background-color: var(--black-dt);
  transition: all 1000ms ease;
}


.footer-container {
  max-width: 360px;
  min-width: 320px;
  border-top: 1px solid var(--white);
}

.footer {
  padding: 40px 20px;
}



.footer-logo {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--white);
  margin: 0;
  margin-bottom: 32px;
  max-width: 233px;
}

.footer-logo-span {
  color: var(--accet-green-dt);
}

.footer-link-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.footer-link {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: var(--white);
}


.copyright {
  display: flex;
  justify-content: center;
}

.copyright-txt {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--white);
  width: 180px;
}

/* -----TAB-------- */
@media (min-width: 768px) {

  .footer-container {
    max-width: 768px;
  }

  .footer {
    padding: 40px 32px 24px;
  }

  .footer-logo-container {
    margin-bottom: 40px;
  }

  .footer-link-list {
    display: flex;
    gap: 40px;
    flex-direction: row;
  }


  .copyright {
    padding: 0;
    justify-content: end;
  }

  .copyright-txt {
    width: 330px;
    left: 0;
  }

  /* ЗУпинився тут, потрібно змістити копірайт іправо */

}

/* -----TAB-------- */

/* -----DESK-------- */

@media (min-width: 1280px) {

  .footer-container {
    max-width: 1280px;
  }

  .footer-logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer-logo {
    margin: 0;
  }

  .footer-link-list {
    padding: 0;
    margin: 0;
  }
}



/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/

.faq-container {
  max-width: 360px;
  min-width: 320px;
}

.faq {
  padding: 40px 20px;
  position: relative;
}

.faq-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 52px;
  line-height: 123%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 40px;
}

.faq-title-span {
  color: var(--accet-green-dt);
}

.faq-decor {
  width: 526px;
  height: 408px;
  display: none;
}

/* -----ACCORDION------- */

.ac {
  /* background-color: transparent; */
  border-top: 1px solid var(--white);;
  background-color: transparent;
  box-sizing: border-box;
  padding: 28px 24px;
  transition: all 750ms;
  position: relative;
  transition: all 1000ms ease-in;
}

/* іконка */
.close-icon {
  position: absolute;
  right: 15px;
  transition: all 750ms;
  display: none;
}

.open-icon {
  position: absolute;
  right: 15px;
  transition: all 750ms;
}



.ac:last-child {
  border-bottom: 1px solid #eee;
}

.ac .ac-header {
  margin: 0;
  padding: 0;
  
}

/* Заголовок */
.ac .ac-trigger {
  /* max-width: 224px; */
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  text-align: left;
  width: 100%;
  display: block;
  cursor: pointer;
  background-color: transparent;
  transition: color .25s ease;
  position: relative;
  text-decoration: none;
  margin: 0;
  margin-bottom: 24px;
  border: 0;
  padding: 0;
  padding-right: 72px;
}

/* Хрекстик */
.ac .ac-trigger::after {
  content: "";
  text-align: center;
  width: 15px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  position: absolute;
  right: 10px;
  top: 10px;
  /* виставити висоту */

}

.ac .ac-trigger:focus {
  color: var(--white);
}

.ac .ac-panel {
  overflow: hidden;
  transition-property: height, visibility;
  transition-timing-function: ease
}

/* Текст  */
.ac .ac-panel .ac-text {
  width: 272px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: var(--white);
}

.ac.js-enabled .ac-panel {
  visibility: hidden;
}

.ac.is-active .ac-panel {
  visibility: visible;
}

.ac.is-active {
  /* зміна кольору фону картки при відкриті */
  background: var(--dark-accet-dt);
  border-radius: 16px;
  border: none;
}


.ac.is-active>.ac-header .ac-trigger::after {
  content: "";
}

.ac.is-active>.open-icon {
  transform: rotateX(180deg);
}

/* -----ACCORDION------- */



/* ------TAB------ */
@media (min-width: 768px) {
  .faq-container {
    max-width: 768px;
  }

  .faq {
    padding-left: 32px;
  }

  .faq-title {
    font-weight: 400;
    font-size: 108px;
    line-height: 115%;
    letter-spacing: 0.02em;
  }

  .ac .ac-trigger {
    font-style: 20px;
    line-height: 160%;
  }

  .ac .ac-panel .ac-text {
    width: fit-content;
  }
}



/* ------DESC------ */
@media (min-width: 1280px) {
  .faq-container {
    max-width: 1280px;
  }

  .faq-title {
    width: 520px;
  }

  .faq-decor-accordion {
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;
    bottom: 140px;
  }

  .faq-decor {
    display: block;

  }

  .ac {
    width: 592px;
  }
}